doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Belvain')
    link(rel='icon', href='../../favicon.ico')
    title Järjestelmärekisteri
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href=root+'css/layout.css')
    script var SERVER_ROOT="#{root}";
  body
    #new-item-modal.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title
          .modal-body
            .loader
              img.loader-img(src=root+'img/ring-alt.svg')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.send-modal-data(type='button') Send message
    .container
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#')
              i.fa.fa-cogs.main-icon
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href=root)
                  i.fa.fa-home
                  | &nbsp;Etusivu
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | &nbsp;Uusi...&nbsp;
                  span.caret
                ul.dropdown-menu
                  li
                    a.new-item-btn(href='#new-item-modal', data-toggle='modal', data-item-type='server', data-modal-title='Lisää palvelin')
                      i.fa.fa-server
                      | &nbsp;&nbsp;Palvelin
                  li
                    a.new-item-btn(href='#new-item-modal', data-toggle='modal', data-item-type='application', data-modal-title='Lisää sovellus')
                      i.fa.fa-cogs
                      | &nbsp;&nbsp;Sovellus
                  li
                    a.new-item-btn(href='#new-item-modal', data-toggle='modal',  data-item-type='contract', data-modal-title='Lisää sopimus')
                      i.fa.fa-file-text-o
                      | &nbsp;&nbsp;Sopimus
                  li
                    a.new-item-btn(href='#new-item-modal',  data-toggle='modal', data-item-type='integration', data-modal-title='Lisää integraatio')
                      i.fa.fa-random
                      | &nbsp;&nbsp;Integraatio
            form.navbar-form.navbar-right(role='search')
              .form-group
                input.top-bar-search-input.form-control(type='text', placeholder='Search')
              button.btn.btn-primary.top-bar-search-btn(type='submit')
                i.fa.fa-search
      .container-fluid
        .content
          block content
    //Script
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==', crossorigin='anonymous')
    script(src=root+'script/modal.js')
    block custom_script
