form.new-item-form(action=root+'api/server', method='POST')
  .form-group
    label.control-label(for='new-server-name') Nimi:
    input#new-server-name.form-control(type='text', name='name')
  .form-group
    label.control-label(for='new-server-description') Kuvaus:
    textarea#new-server-description.form-control
  .form-group
    label.control-label(for='new-server-contract') Sopimus:
    select#new-server-contract.form-control
      each contract in contracts
          option(value=contract._id) #{contract.name}
  .form-group
    label.control-label(for='new-server-applications') Sovellukset:
    select#new-server-applications.form-control(multiple='multiple')
      each app in applications
        if app.server
          option(value=app._id, disabled='disabled') #{app.name}
        else
          option(value=app._id) #{app.name}
script
  | $('#new-server-applications').multiselect({enableCaseInsensitiveFiltering: true, buttonWidth: "100%"});
  | $('#new-server-contract').multiselect({enableCaseInsensitiveFiltering: true, buttonWidth: "100%"});