extends layout

block content
  h1 #{server.name}
  hr
  p #{server.description}
  br
  h3 Sopimus
  p
    if server.contract
      ul
        li
          a.server-contract(href=root+'contract/'+server.contract) #{server.contract}
      br
      a(href='#') Vaihda sopimus
    else
      a(href='#') Lis채채 sopimus
  br
  h3 Sovellukset
  div
    ul
      each app in server.applications
        li
          a.server-app(href=root+'application/'+app) #{app}
    a(href='#') Lis채채 sovellus
block custom_script
  script(src=root+'script/server-view.js')